table{
    border-collapse: collapse;
    margin:auto
}

#nanpure{
    margin-bottom: 20px;
}

 td{
    border: solid 1pt rgb(153, 153, 201);
    width: 50px;
    height:50px;
    text-align: center;
}

#nanpure tr:first-child{
    border-top: solid 2pt rgb(62, 62, 145);
}

#nanpure tr:nth-child(3n){
    border-bottom: solid 2pt rgb(62, 62, 145);
}

#nanpure td:first-child{
    border-left: solid 2pt rgb(62, 62, 145);
}

#nanpure td:nth-child(3n){
    border-right: solid 2pt rgb(62, 62, 145);
}

#kaitou tr:first-child{
    border-top: solid 2pt rgb(62, 62, 145);
}

#kaitou tr:nth-child(3n){
    border-bottom: solid 2pt rgb(62, 62, 145);
}

#kaitou td:first-child{
    border-left: solid 2pt rgb(62, 62, 145);
}

#kaitou td:nth-child(3n){
    border-right: solid 2pt rgb(62, 62, 145);
}

.click_ok{
    color: rgb(0, 183, 255);
}

.clicked{
    background-color: antiquewhite;
}